@import "tailwindcss";

.nav-title{
    display: flex;
    justify-content: space-between;
    max-width: 72rem;
    margin: 0 auto;
    align-items: center;  
    margin-top: 2rem; 
}

 .nav-t{  display: flex;
    justify-content: space-between;
    max-width: 72rem;
    margin: 0 auto;
    align-items: center;  
    margin-top: 8rem; 
}




@media  screen and (max-width:600px) {
    .nav-title{
        width: 22rem ;
        margin: 0 auto;
        margin-top: 2rem ;
    }
    .nav-t{
        flex-direction: column-reverse;
    }
    .img-na{
        width: 100%;
    }
    .img-con{
        width: 22.5rem;
        margin: 20px;
    }
    
}
